@media screen and (min-width: 800px) {
    body{
        background: #f7f8fa;
    }
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .main-content {
        width: 800px;
        display: flex;
        flex-direction: row;
        background-color: $color-white;
        border-radius: 30px;
        box-shadow: 0px 10px 15px -3px rgba(70, 103, 168, 0.1),0px 4px 6px -4px  rgba(70, 103, 168, 0.1);
        
        
        
        
    //header
    .header{
        z-index:1;
        width: 100vw;
        border-radius: 30px;
        padding-bottom: 30px;
    
    .result{
        width: 180px;
        height: 180px;
        border-radius: calc(240px / 2); 
    }
    .number-result{
        font-size: 65px;
    }
    
    }//end header

    //container
    .container{
        padding:10px;
        border-radius: 0 30px 30px 0;
        .data-summary{
            .btn:hover{
            background: $background;

            }
        }

    }// end container
}
}
    