@import "variable.scss";

*{  
    padding: 0;
    margin: 0;
    
    font-family: 'Hanken Grotesk', sans-serif;;
}
.main-content{
    
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: $color-white;
    
    .header{
        display:flex;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        background: $background;
        padding: 10px;
        border-radius: 0 0 30px 30px;
        
        .title-header{
            color: $color-light-lavender;
            font-size: 18px;
            font-weight: 500;
            margin-top: 15px;
        }
        .result{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            width: 120px;
            height: 120px;
            background: $circle;
            border-radius: calc(120px / 2);
        }
        .number-result{
            color: $color-white;
            font-size: 45px;
            font-weight: 700;
        }
        .of-100{
            color: $color-light-lavender;
            font-size: 14px;
        }
        .result-rate{
            display: flex;
            width: 75%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            p{
                color:$color-pl-blue;
                font-weight: 500;
                color:$color-light-lavender;
                font-size: 16px;
                text-align: center;
                margin: 15px 0 45px;
            }
            .classification{
                color: $color-white;
                margin-top: 15px;
                font-size: 28px;
                font-weight: 700;
            }
          
        }

    }
    .container{

        display: flex;
        justify-content: center;
        width: 100vw;
        background-color: $color-white;

        .data-summary{
            width: 80%;
            display: block;

            .title-summary{
            margin: 20px 0;
            font-size: 18px;
            }// ul
            .summary-list{
                
                list-style: none;
                position: relative;
                
                img{
                    display: inline-block;
                    margin-right: 5px;
                }
                //li
                li{
                    display: block;
                    padding: 15px;
                    font-weight: 700;
                    border-radius: 12px;
                    margin: 15px 0;

                }
                li:nth-child(1){
                    background-color: $red-opacity;
                    color: $color-red;
                    
                }
              
                li:nth-child(2){
                    background-color: $orange-opacity;
                    color: $color-orange;
                }
                li:nth-child(3){
                    background-color: $green-opacity;
                    color: $color-green;

                }
                li:nth-child(4){
                    background-color: $blue-opacity;
                    color: $color-blue;
                }
                //end li 
                .data{
                    display: inline-block;
                    position: absolute;
                    right: 15px;
                    font-weight: 700;
                    color: $darkblue-opacity;
                    b{
                        font-weight:900;
                        color:$color-darkblue;
                    }
                }
            }// end ul
            //button
            .btn{
                display: block;
                background: $color-darkblue;
                color: $color-white;
                width: 100%;
                font-size: 18px;                
                padding: 15px 15px;
                border-radius: 30px;
                border: 0;
                margin-top: 20px;
                text-decoration: none;
                text-align: center;
                cursor: pointer;
            }
            .btn:hover{
                background: $background;
            }
            //end button
            
        }


        
    }
}
@import "media-querie.scss";